@font-face {
  font-family: 'YanoljaYacheR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body,html {
  min-width: 320px;
  max-width: 468px;
  margin: 0 auto;
  font-family: 'YanoljaYacheR';
}
