@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");
@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
.match__container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.match__container .contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match__container .contents .title {
  background: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 400;
  position: relative;
}
.match__container .contents .title::before {
  content: "“";
  color: #5d6166;
  font-size: 1em;
}
.match__container .contents .title::after {
  content: "”";
  color: #5d6166;
  font-size: 1em;
}
.match__container .contents .person {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 50px auto;
}
.match__container .contents .person .btn {
  flex: 1;
  width: 100%;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
  opacity: 0.3;
}
.match__container .contents .person .btn > .img {
  width: 48px;
  height: 48px;
  background-image: url("~assets/img/wman.png");
}
.match__container .contents .person .btn:active {
  transform: translateY(3px);
}
.match__container .contents .person .btn.solo {
  background-color: #1f75d9;
  border-bottom: 5px solid #165195;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match__container .contents .person .btn.solo:active {
  border-bottom: 2px solid #165195;
}
.match__container .contents .person .btn.people {
  background-color: #ff521e;
  border-bottom: 5px solid #c1370e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.match__container .contents .person .btn.people:active {
  border-bottom: 2px solid #c1370e;
}
.match__container .contents .person .btn.on {
  opacity: 1;
}
.match__container .contents .person .btn.on > .img {
  background-image: url("~assets/img/man.png") !important;
}
.match__container .contents .mbti {
  width: 80%;
  margin: 0 auto;
}
.match__container .contents .mbti .mbti-solo {
  width: 100%;
}
.match__container .contents .mbti .mbti-solo .txt {
  font-size: 1.3rem;
}
.match__container .contents .mbti .mbti-solo .mbti-select {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.match__container .contents .mbti .mbti-solo .mbti-select .mbti-item {
  perspective: 1000px;
}
.match__container .contents .mbti .mbti-solo .mbti-select .mbti-item .card-inner {
  width: 70px;
  height: 70px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.match__container .contents .mbti .mbti-solo .mbti-select .mbti-item .card-inner.flipped {
  transform: rotateY(180deg);
}
.match__container .contents .mbti .mbti-solo .mbti-select .mbti-item .card-inner .card-front,
.match__container .contents .mbti .mbti-solo .mbti-select .mbti-item .card-inner .card-back {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  font-size: 2.5rem;
}
.match__container .contents .mbti .mbti-solo .mbti-select .mbti-item .card-inner .card-front {
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match__container .contents .mbti .mbti-solo .mbti-select .mbti-item .card-inner .card-back {
  background-color: #f2f2f2;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=intro.css.map */
